<div class=" bg-white my-4">
  <div class="flex flex-row w-full p-2">
    <form class="rounded-md border border-green flex items-center p-2 basis-11/12" #myForm="ngForm">
      <textarea class="w-full min-h-28" type="text" name="textInput" required minlength="4" maxlength="100" ngModel
        (ngModelChange)="changelen(myForm)" placeholder="Чем сегодня поделитесь с интернетом?"></textarea>
    </form>
    <div class="basis-1/12">
      <p class="h-full text-center py-4">{{count}}/100</p>
    </div>
  </div>
  <div class="flex flex-row place-content-center items-center p-2">
    <div class="basis-1/4">
      <button class="flex flex-row items-center py-2 px-2 text-bold" (click)="OnClick()"> <img class="mx-4"
          src="assets/Path.png" /> Видео</button>
    </div>
    <div class="basis-1/4">
      <div class="flex flex-row">
        <div class="mt-3"><img class="mx-4" src="assets/Shape.png" /></div>
        <form #fileForm="ngForm">
          <label class="input-file mt-1">
            <input type="file" name="file" ngModel>
            <span>Фото</span>
          </label>
        </form>
      </div>
    </div>
    <div class="basis-1/4">{{filename}}</div>
    <div class="basis-1/4 text-end "><button class="bg-blue-950 py-2 px-2 rounded-xl text-white text-bold"
        (click)="createNews(myForm, fileForm)">Опубликовать</button></div>
  </div>
</div>